
/* Baobab
	Chris J.
 * Boutton.css - Trumps
 * started at 25/04/2016
 */
.bouton{
	background: #d83c3c;
	background-size: 25px 25px;
	width: 5.5rem;
	height: 1.8rem;
	overflow: visible;
    border: 0;
    cursor: pointer;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, 0.3);
    color: white;
}