.icon-propos:before{
	content:"   " ;
	font-size: 1.6rem;
}
.icon-calen:before{
	font-size: 1.6rem;
	content:"   " ;
}
.icon-photo:before{
	font-size: 1.6rem;
	content:"   " ;
}
.icon-projet:before{
	font-size: 1.6rem;
	content:"   " ;
}
.icon-how:before{
	font-size: 1.6rem;
	content:"   " ;
}
