/* Baobab
	Chris J.
 * root.scss Base
 * started at 25/04/2016
 */

 
body{
	/*background-image: url("../img/grille.svg");
	background: cover;*/
	background: linear-gradient(130deg,#FFA445, white);
	color: #2D2D2C;
	font: 1rem/1.2rem 'lucida sans', 'trebuchet MS', 'Tahoma';
}
.link{
	text-decoration : none;
}