/* Baobab
	Chris J.
 * _bottom.css Objects
 * started at 25/04/2016
 */
 .bottom{

	padding-top: 1em;
	font-size :  1rem;
	&__nav{
	display: inline-block;
	text-align: center;
	margin-left: 16rem;
	padding: 2rem 0 2rem 0;
	}
	&__elt{
	padding-bottom: 1rem;
	}
	&__link{
		padding: 1rem;
	}


 }
 .email{
 	margin-left: 1rem;
 }
 