/* Baobab
	Chris J.
 * _main.last.css Objects
 * started at 25/04/2016
 */
.last{
	//margin: 0 15.5rem;
	&__news{
	margin: 0 auto;	
	width: 704px; //797
	}
	&__heading{
 	padding-bottom: 1.5rem;
 	margin-left: 10rem;
 	font-size: 1.6rem;
 	}
 	&__text{
 	}
 }