/* Baobab
	Chris J.
 * Bannniere - Components
 * started at 25/04/2016
 */
  .banniere{
  height: 42rem;
    &__logo{
   	background-image: url(../img/logo.svg);
  	background-size: 250px 244px;
    }
}
.main__image{
	height:41rem;
	width: 	95rem;
	float: left;
	margin-top: -12.5rem;
	z-index: 1;

}
